.footer-liner {
  border: 1px solid #d9fff5;
}
.footer {
  background-color: #f8f8f8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  &__text {
    text-align: center;
  }
  &__text:not(:last-child) {
    margin-bottom: 16px;
  }
}


@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &__text-one {
      text-align: left;
    }
    &__text-two {
      text-align: center;
    }
    &__text-three {
      text-align: right;
    }
  }
}
